{% extends 'account/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h4 class="text-center">Reset Password</h4>
    <p class="text-center">
        <small class="text-muted">A reset link will be sent to your email.</small>
    </p>
    <form method="post">
        {% csrf_token %}
        {% include 'partials/form.html' %}
        <div class="clearfix py-3">
            <a href="{% url 'login' %}" class="float-left pt-1">Back to log in</a>
            <button class="btn text-white float-right" type="submit" style="background-color: #626be3;">Submit</button>
        </div>
    </form>
{% endblock %}
