SECRET_KEY=
DB_NAME=db.sqlite3
DB_ENGINE=django.db.backends.sqlite3
DB_USER=scitlab
DB_PASSWORD=newasd123
FRONTEND_HOST=http://127.0.0.1.8080

EMAIL_HOST=smtp.mailtrap.io
EMAIL_HOST_USER=fe93e7cba95126
EMAIL_HOST_PASSWORD=2eedbda8cdf2dc
EMAIL_PORT=2525
