{% extends 'base.html' %}
{% load static %}
{% block title %}
Lab Details
{% endblock %}


{% block styles %}
<link href="{% static 'css/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="m-3 p-3 shadow-sm">
                            <h3 class="text-center py-3">Lab Details</h3>
                            <div class="table-responsive">
                                <table class="table table-striped text-center">
                                    <tbody>
                                        <tr>
                                            <th>Name</th>
                                            <td>{{ lab.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Room</th>
                                            <td>{{ lab.room }}</td>
                                        </tr>
                                        <tr>
                                            <th>Date Added</th>
                                            <td>{{ lab.created_on }}</td>
                                        </tr>
                                         <tr>
                                            <th>School</th>
                                            {% comment %} <td> <a href="{% url 'schools:school_details' lab.school.pk %}"> {{ lab.school.name }}</a></td> {% endcomment %}
                                        </tr> >
                                        <tr>
                                            <th>Last Update</th>
                                            <td>{{ lab.updated_on }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'schools:lab_edit' lab.pk %}" class="mx-1">
                                <button class="btn btn-md w-50 btn-primary">Edit</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xl-12 col-md-12">
            <div class="card Recent-labs">
                <div class="card-header">
                    <h5 class="text-capitalize">All Lab Technicians in this Lab</h5>
                </div>

                <div class="card-block px-0 py-3">
                    <div class="table-responsive">

                        <table class="table" id="data-table">
                            <thead>
                        <tr>
                            <th> Full Name </th>
                            <th> Gender </th>
                            <th> Contact </th>
                            <th> Status </th>
                            <th> Date Joined </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.get_full_name }}</td>
                            <td>{{ user.gender }}</td>
                            <td>{{ user.phone_number }}</td>
                            {% if user.is_active %}
                            <td><span class="badge badge-pill badge-success">Active</span></td>
                            {% else %}
                            <td><span class="badge badge-pill badge-danger">Suspended</span></td>
                            {% endif %}
                            <td><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{ user.date_joined }}</td>
                            <td><a href="{% url 'dashboard:lab_technician_details' user.pk %}" class="label theme-bg2 text-white f-12">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock  %}

{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $('#data-table').DataTable();
</script>
{% endblock %}

