{% extends 'base.html' %}
{% load static %}
{% block title %}
Equipment Details
{% endblock %}


{% block styles %}
<link href="{% static 'css/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="m-3 p-3 shadow-sm">
                            <h3 class="text-center py-3">Equipment Details</h3>
                            <div class="float-right d-flex">
                                <a href="{% url 'equipment:equipment_edit' equipment.pk %}" class="mx-1">
                                    <button class="btn btn-sm btn-primary w-75">Edit</button>
                                </a>
                                {% if not equipment.is_allocated %}
                                <a href="{% url 'equipment:equipment_delete' equipment.pk %}" class="mx-1">
                                <button class="btn btn-md  btn-danger">Delete</button>
                                {% endif %}
                                 </a>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped text-center">
                                    <tbody>
                                        {% if equipment.name %}
                                        <tr>
                                            <th>Name</th>
                                            <td>{{ equipment.name }}</td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <th>Serial No.</th>
                                            <td>{{ equipment.serial_no }}</td>
                                        </tr>
                                        <tr>
                                            <th>Equipment Type</th>
                                            <td>{{ equipment.category.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Cost</th>
                                            <td>Ksh {{ equipment.price }}</td>
                                        </tr>
                                        {% if equipment.batch %}
                                        <tr>
                                            <th>School</th>
                                            <td>{{ equipment.batch.s }}</td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <th>Working Condition</th>
                                            {% if equipment.is_damaged or equipment.has_exceeded_shelf_life  %}
                                            <td> <span class="badge badge-pill badge-danger">Damaged</span></td>
                                            {% elif not equipment.is_damaged and not equipment.has_exceeded_shelf_life %}
                                            <td> <span class="badge badge-pill badge-success">Working</span></td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <th>Availability</th>
                                            {% if not equipment.has_exceeded_shelf_life %}
                                            <td> <span class="badge badge-pill badge-success">Yes</span></td>
                                            {% else %}
                                            <td> <span class="badge badge-pill badge-danger">Out of Service</span></td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <th>Allocation Status</th>
                                            {% if equipment.is_allocated  %}
                                            <td> <span class="badge badge-pill badge-info">Allocated</span></td>
                                            {% else %}
                                            <td> <span class="badge badge-pill badge-success">In Storage</span></td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <th>Added On</th>
                                            <td>{{ equipment.created_on }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row text-center">
                            {% if not equipment.is_allocated %}
                            <div class="col-md-6">
                                {% if equipment.has_exceeded_shelf_life == False %}
                                <a href="{% url 'equipment:equipment_out_of_service_action' pk=equipment.pk %}"
                                    class="mx-1 col-md-6">
                                    <button class="btn btn-sm w-50 btn-warning">Mark as Out Of Service</button>
                                </a>
                                {% endif %}
                            </div>
                            {% endif %}
                            <div class="col-md-6">
                                {% if equipment.is_damaged == False %}
                                <a href="{% url 'equipment:equipment_damaged_action' pk=equipment.pk %}"
                                    class="mx-1 col-md-6">
                                    <button class="btn btn-sm w-50 btn-warning">Mark as Damaged</button>
                                </a>
                                {% else %}
                                <a href="{% url 'equipment:equipment_working_action' pk=equipment.pk %}"
                                    class="mx-1 col-md-6">
                                    <button class="btn btn-sm w-50 btn-success">Mark as Working</button>
                                </a>
                                {% endif %}
                                {% if equipment.is_allocated %}
                                <div>
                                {% if not equipment.is_lost  %}
                                <a href="{% url 'equipment:equipment_lost_action' pk=equipment.pk %}"
                                    class="mx-1 col-md-6">
                                    <button class="btn btn-sm w-50 btn-warning">Mark as Lost</button>
                                </a>
                                {% else %}
                                <a href="{% url 'equipment:equipment_found_action' pk=equipment.pk %}"
                                    class="mx-1 col-md-6">
                                    <button class="btn btn-sm w-50 btn-success">Mark as Returned</button>
                                </a>
                                {% endif %}
                            </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
</div>

{% endblock  %}

{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $('#data-table').DataTable();
</script>
{% endblock %}