<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="{% url 'users:lab_technicians_dashboard_index' %}" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">TUK Lab</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li class="nav-item active">
                <a href=" {% url 'users:lab_technicians_dashboard_index' %} " class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Equipment</label>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-layers"></i></span><span class="pcoded-mtext">Categories</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'users:categories_list' %}" class="">All Categories</a></li>
                    </ul>
                </li>
                <li data-username="dashboard Default" class="nav-item">
                    <a href="{% url 'users:storage_units_list' %}" class="nav-link "><span class="pcoded-micon"><i
                                class="fa fa-store"></i></span><span class="pcoded-mtext">Storage Units</span></a>
                </li>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                    <a href="{% url 'users:allocations_list' %}" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-share-2"></i></span><span
                            class="pcoded-mtext">Allocations</span></a>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-filter"></i></span><span class="pcoded-mtext">Equipment</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'users:equipment_list' %}" class="">All Equipment</a></li>
                        <li class=""><a href="{% url 'users:equipment_add' %}" class="">Add Equipment</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Users</label>
                </li>
                <li data-username="basic components" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-user"></i></span><span class="pcoded-mtext">Students</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'users:students_list' %}" class="">All Students </a></li>
                    </ul>
                </li>
                <li data-username="basic components" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-user"></i></span><span class="pcoded-mtext">Lecturers</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'users:lecturer_list' %}" class="">All Lecturers </a></li>
                    </ul>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                    <a href="{% url 'users:user_profile' %}" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-user"></i></span><span
                            class="pcoded-mtext">My Profile</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
