{% extends 'base.html' %}
{% load static %}
{% block title %}
All Students
{% endblock %}


{% block styles %}
<link href="{% static 'css/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-xl-12 col-md-12">
    <div class="card Recent-users">
        <div class="card-header">
            <h5>Allocate equipment To Lecturer </h5>
        </div>
        <div class="card-block px-0 py-3">
            <div class="table-responsive">
                <table class="table" id="data-table">
                    <thead>
                        <tr>
                            <th> Full Name </th>
                            <th> Gender </th>
                            <th> Contact </th>
                            <th> Department </th>
                            <th> Status </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.get_full_name }}</td>
                            <td>{{ user.gender }}</td>
                            <td>{{ user.phone_number }}</td>
                            <td>{{ user.department.name }}</td>
                            {% if user.is_active %}
                            <td><span class="badge badge-pill badge-success">Active</span></td>
                            {% else %}
                            <td><span class="badge badge-pill badge-danger">Suspended</span></td>
                            {% endif %}
                            <td><a href=" {% url 'equipment:allocate_equipment_action' pk=allocation.pk user_pk=user.pk  %} " class="label theme-bg3 text-white f-12">Allocate</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $('#data-table').DataTable();
</script>
{% endblock %}