{% extends 'base.html' %}
{% load static %}
{% block title %}
allocation Details
{% endblock %}


{% block styles %}
<link href="{% static 'css/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="m-3 p-3 shadow-sm">
                            <h3 class="text-center py-3">Allocation Details</h3>
                            <div class="table-responsive">
                                <table class="table table-striped text-center">
                                    <tbody>
                                        <tr>
                                            <th>Allocated To.</th>
                                            {% if allocation.allocated_to.user_type == 'Student' %}
                                            <td> <a href="{% url 'dashboard:student_details' allocation.allocated_to.id %}"> {{ allocation.allocated_to.get_full_name }} </a> </td>
                                            {% elif allocation.allocated_to.user_type == 'Lecturer' %}
                                            <td> <a href="{% url 'dashboard:lecturer_details' allocation.allocated_to.id %}"> {{ allocation.allocated_to.get_full_name }} </a> </td>
                                            {% elif allocation.allocated_to.user_type == 'Lab_Tech' %}
                                            <td> <a href="{% url 'dashboard:lab_technician_details' allocation.allocated_to.id %}"> {{ allocation.allocated_to.get_full_name }} </a> </td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <th>Equipment</th>
                                            <td><a href="{% url 'equipment:equipment_details' allocation.equipment.id %}">{{ allocation.equipment.name }} - {{ allocation.equipment.serial_no }} </a></td>
                                        </tr>
                                        <tr>
                                            <th>Added On</th>
                                            <td>{{ allocation.created_on }}</td>
                                        </tr>
                                        <tr>
                                            <th>Allocated By</th>
                                            <td> <a href="{% url 'dashboard:lab_technician_details' allocation.allocated_by.id %}"> {{ allocation.allocated_by }} </a> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="text-center">
                        {% if not allocation.is_returned %}
                            <a href="{% url 'equipment:allocation_return_action' pk=allocation.pk %}" class="mx-1">
                                <button class="btn btn-md  btn-success">Mark as Returned</button>
                            </a>
                        {% endif %}
                            <a href="{% url 'equipment:allocation_edit' allocation.pk %}" class="mx-1">
                                <button class="btn btn-md btn-primary">Edit</button>
                            </a>
                            {% if not allocation.equipment.is_damaged %}
                            <a href="{% url 'equipment:allocation_damaged_action' pk=allocation.pk %}" class="mx-1">
                                <button class="btn btn-md  btn-warning">Mark as damaged</button>
                            </a>
                            {% else%}
                            <a href="{% url 'equipment:allocation_damaged_action' pk=allocation.pk %}" class="mx-1">
                                <button class="btn btn-md  btn-info">Mark as Replaced</button>
                            </a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
    
    </div>
</div>

{% endblock  %}

{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $('#data-table').DataTable();
</script>
{% endblock %}