{% extends 'base.html' %}
{% load static %}
{% block title %}
Lab Technician Details
{% endblock %}


{% block styles %}
<link href="{% static 'css/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 p-3 text-center">
                        <div class="py-3">
                            <img src="{% static 'images/user/user_icon.png' %}" alt="{{ user.get_full_name }}" class="w-50">
                            <h5 class="pt-5">{{ user.get_full_name }}</h5>
                            <p class="text-muted">{{ user.get_user_type_display }}</p>
                            <p><span class="ti-time mx-1"> {{ user.date_joined | timesince}} ago
                                    </span></p>
                                <p><span class="ti-mobile"> {{ user.phone_number}}
                                    </span>
                                <p>
                                    <a href="" class="mx-1">
                                        <button class="btn btn-primary">Edit User</button>
                                    </a>
                                </p>

                        </div>
                    </div>
                    <div class="col-md-8 ">
                        <div class="m-3 p-3 shadow-sm">
                            <h3 class="text-center py-3">Lab Technician Details</h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Phone</th>
                                        <td>{{ user.phone_number }}</td>
                                    </tr>
                                    <tr>
                                        <th>Staff Id</th>
                                        <td>{{ user.staff_id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Gender</th>
                                        <td>{{ user.gender }}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>
                                            {% if user.is_active %}
                                            <span class="badge badge-pill badge-success">Active</span>
                                            {% else %}
                                            <span class="badge badge-pill badge-danger">Suspended</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="text-center py-3">
                                    {% if user.is_active%}
                                        <a href="{% url 'dashboard:lab_technician_confirm_suspension' user.pk %}"
                                            class="mx-1">
                                            <button class="btn btn-warning btn-md w-50">Suspend</button>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'users:user_unsuspend_action' user.pk %}" class="mx-1">
                                            <button class="btn btn-success btn-md w-50">Activate</button>
                                        </a>
                                        {% endif %}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="col-xl-12 col-md-12">
        <div class="card equipment-allocations">
            <div class="card-header">
                <h5>All Equipment Allocations</h5>
            </div>

            <div class="card-block px-0 py-3">
                <div class="table-responsive">

                    <table class="table" id="data-table">
                        {% comment %}
                        <div class="float-right">
                            <a href="{% url 'equipment:equipment_add' %}" class="label theme-bg2 text-white f-12">Add
                                equipment</a>
                        </div> {% endcomment %}
                        <thead>
                            <tr>
                                <th> Serial No. </th>
                                <th> Equipment Type </th>
                                <th> Lab </th>
                                <th> Allocated To </th>
                                <th> Working Condition </th>
                                <th> Allocation Status </th>
                                <th> Date Added </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for allocation in equipment_allocations %}
                            <tr>
                                <td><a href="{% url 'equipment:equipment_details' allocation.equipment.id %}">{{ allocation.equipment.serial_no }}</a></td>
                                <td>{{ allocation.equipment.category.name }}</td>
                                <td>{{ allocation.equipment.lab.name }}</td>
                                <td><a href="{% url 'dashboard:student_details' allocation.student.id %}">{{ allocation.student }}</a>
                                </td>
                                {% if not allocation.equipment.is_damaged %}
                                <td> <span class="badge badge-pill badge-success">Working</span></td>
                                {% else %}
                                <td> <span class="badge badge-pill badge-danger">Damaged</span></td>
                                {% endif %} {% if allocation.is_returned %}
                                <td><span class="badge badge-pill badge-success">Returned</span></td>
                                {% else %}
                                <td><span class="badge badge-pill badge-danger">Unreturned</span></td>
                                {% endif %}
                                <td>{{ allocation.created_on }}</td>
                                <td><a href=" {% url 'equipment:allocation_details' allocation.pk %} " class="label theme-bg2 text-white f-12">View</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}

{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $('#data-table').DataTable();
</script>
{% endblock %}