<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="index.html" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">TUK Lab</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
                {% if user.user_type == 'Staff' %}
                <a href=" {% url 'dashboard:index' %} " class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                {% elif  user.user_type == 'Student' %}
                <a href=" {% url 'users:student_dashboard_index' %} " class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                {% elif  user.user_type == 'Lab_Tech' %}
                <a href=" {% url 'users:lab_technician_dashboard_index' %} " class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                {% elif  user.user_type == 'Lab_Sec' %}
                <a href=" {% url 'users:lab_sec_dashboard_index' %} " class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                {% endif %}
                </li>
                {% if user.user_type == 'Staff' %}
                <li data-username="basic components"
                    class="{% if request.path == 'schools/' %}active{% endif %} nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="ti-blackboard"></i></span><span class="pcoded-mtext">
                            Schools</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'schools:schools_list' %}" class="">Schools</a></li>
                        <li class=""><a href="{% url 'schools:departments_list' %}" class="">Departments</a></li>
                    </ul>
                </li>
                <li data-username="basic components" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-server"></i></span><span class="pcoded-mtext">Labs</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'schools:labs_list' %}" class="">All Labs</a></li>
                        <li class=""><a href="{% url 'schools:lab_add' %}" class="">Add Lab</a></li>
                    </ul>
                </li>
                <li data-username="basic components" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-clipboard"></i></span><span class="pcoded-mtext">Courses</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'schools:course_list' %}" class="">All Courses</a></li>
                        <li class=""><a href="{% url 'schools:course_add' %}" class="">Add Course</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item pcoded-menu-caption">
                    <label>Equipment</label>
                </li>
                {% if user.user_type == 'Staff' %}
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-layers"></i></span><span class="pcoded-mtext">Categories</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'equipment:categories_list' %}" class="">All Categories</a></li>
                    </ul>
                </li>
                <li data-username="dashboard Default" class="nav-item">
                    <a href="{% url 'equipment:storage_units_list' %}" class="nav-link "><span class="pcoded-micon"><i
                                class="fa fa-store"></i></span><span class="pcoded-mtext">Storage Units</span></a>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="fa fa-box-open"></i></span><span class="pcoded-mtext">Batches</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'equipment:batch_list' %}" class="">All Batches</a></li>
                    </ul>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-filter"></i></span><span class="pcoded-mtext">Equipment</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'equipment:equipment_list' %}" class="">All Equipment</a></li>
                        <li class=""><a href="{% url 'equipment:equipment_add' %}" class="">Add Equipment</a></li>
                    </ul>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                    <a href="{% url 'equipment:all_allocations' %}" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-share-2"></i></span><span
                            class="pcoded-mtext">Allocations</span></a>
                </li>
                {% elif user.user_type == 'Student' %}
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                    <a href="{% url 'equipment:all_allocations' %}" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-share-2"></i></span><span
                            class="pcoded-mtext">My Allocations</span></a>
                </li>
                {% elif user.user_type == 'Lab_Sec' %}
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-filter"></i></span><span class="pcoded-mtext">Equipment</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'equipment:equipment_list' %}" class="">All Equipment</a></li>
                        <li class=""><a href="{% url 'equipment:equipment_add' %}" class="">Add Equipment</a></li>
                    </ul>
                </li>
                {% elif user.user_type == 'Lab_Tech' %}
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-filter"></i></span><span class="pcoded-mtext">Equipment</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'equipment:equipment_list' %}" class="">All Equipment</a></li>
                        <li class=""><a href="{% url 'equipment:equipment_add' %}" class="">Add Equipment</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if user.user_type == 'Staff' %}
                <li class="nav-item pcoded-menu-caption">
                    <label>Users</label>
                </li>
                <li data-username="basic components" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-user"></i></span><span class="pcoded-mtext"> Lab
                            Technicians</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="bc_button.html" class=""></a></li>
                        <li class=""><a href="{% url 'users:lab_technicians_list' %}" class="">All Technicians </a></li>
                        <li class=""><a href="{% url 'users:lab_technician_add' %}" class="">Add Technician</a></li>
                    </ul>
                </li>
                <li data-username="basic components" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-user"></i></span><span class="pcoded-mtext"> Lab
                            Secretaries</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="bc_button.html" class=""></a></li>
                        <li class=""><a href="{% url 'users:lab_secretaries_list' %}" class="">All Lab Secretaries </a>
                        </li>
                        <li class=""><a href="{% url 'users:lab_secretaries_add' %}" class="">Add Lab Secretary</a></li>
                    </ul>
                </li>
                <li data-username="basic components" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-user"></i></span><span class="pcoded-mtext">Students</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'users:students_list' %}" class="">All Students </a></li>
                        <li class=""><a href="{% url 'users:student_add' %}" class="">Add Student</a></li>
                    </ul>
                </li>
                <li data-username="basic components" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                class="ti-id-badge"></i></span><span class="pcoded-mtext">Admins</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'users:staff_list' %}" class="">All Admins </a></li>
                        <li class=""><a href="{% url 'users:staff_add' %}" class="">Add Admin</a></li>
                    </ul>
                </li>
                {% elif not user.user_type == 'Staff' %}
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                    <a href="{% url 'equipment:all_allocations' %}" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-user"></i></span><span
                            class="pcoded-mtext">My Profile</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>