{% extends 'base.html' %}
{% load static %}
{% block title %}
Department Details
{% endblock %}


{% block styles %}
<link href="{% static 'css/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="m-3 p-3 shadow-sm">
                            <h3 class="text-center py-3">Department Details</h3>
                            <div class="table-responsive">
                                <table class="table table-striped text-center">
                                    <tbody>
                                        <tr>
                                            <th>Name</th>
                                            <td>{{ department.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Date Added</th>
                                            <td>{{ department.created_on }}</td>
                                        </tr>
                                        {% comment %} <tr>
                                            <th>Courses</th>
                                            <td>{{ department.courses_in_department_count }}</td>
                                        </tr> {% endcomment %}
                                        <tr>
                                            <th>Last Update</th>
                                            <td>{{ department.updated_on }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'schools:department_edit' department.pk %}" class="mx-1">
                                <button class="btn btn-md w-50 btn-primary">Edit</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-md-12">
            <div class="card Recent-schools">
                <div class="card-header">
                    <h5>All Courses in {{department.name}} Department</h5>
                </div>
                <div class="card-block px-0 py-3">
                    <div class="table-responsive">

                        <table class="table" id="data-table">
                            <div class="float-right">
                                <a href="{% url 'schools:course_add' %}" class="label theme-bg2 text-white f-12">Add
                                    Course</a>
                            </div>
                            <thead>
                                <tr>
                                    <th> Name </th>
                                    <th> Course Code </th>
                                    <th> Date Added </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courses %}
                                <tr>
                                    <td>{{ course.name }}</td>
                                    <td>{{ course.code }}</td>
                                    <td>{{ course.created_on }}</td>
                                    <td><a href="{% url 'schools:course_details' course.pk %}" class="label theme-bg2 text-white f-12">View</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock  %}

{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $('#data-table').DataTable();
</script>
{% endblock %}