{% extends 'base.html' %}
{% load static %}
{% block title %}
All courses
{% endblock %}


{% block styles %}
<link href="{% static 'css/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-xl-12 col-md-12">
    <div class="card Recent-courses">
        <div class="card-header">
            <h5>All courses</h5>
        </div>
        
        <div class="card-block px-0 py-3">
            <div class="table-responsive">
                <table class="table" id="data-table">
                    <div class="float-right">
                        <a href="{% url 'schools:course_add' %}" class="label theme-bg2 text-white f-12">Add Course</a>
                    </div>
                    <thead>
                        <tr>
                            <th> Name </th>
                            <th> School </th>
                            <th> Course Code </th>
                            <th> Date Added </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr>
                            <td>{{ course.name }}</td>
                            <td>{{ course.school }}</td>
                            <td>{{ course.code }}</td>
                            <td>{{ course.created_on }}</td>
                            <td><a href=" {% url 'schools:course_details' course.pk %} " class="label theme-bg2 text-white f-12">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $('#data-table').DataTable();
</script>
{% endblock %}